<app-title-with-add title="Friends"
                    (addClicked)="addFriend()"></app-title-with-add>

<div class="friends-container">
    <div class="row align-items-center justify-content-center"
         *ngFor="let friend of friends">
        <div class="col-2 text-center">
            <app-circle-initials [name]="friend.name"></app-circle-initials>
        </div>
        <div class="col-8 friend-container">
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>Name</mat-label>
                <input type="text" matInput [(ngModel)]="friend.name"
                       (ngModelChange)="friendChanged()"
                       autocomplete="off">
            </mat-form-field>
        </div>

        <div class="col-1">
            <mat-icon fontIcon="delete" color="warn"
                      (click)="removeFriend(friend)"></mat-icon>
        </div>
    </div>
</div>
