.expenses-container {
    height: calc(100% - 140px);
    overflow-y: auto;
    overflow-x: hidden;
}

.subtotal {
    color: gray;
    font-size: 13px;
}

:host::ng-deep .title-row {
    margin-bottom: 0 !important;
}
