<mat-horizontal-stepper (selectionChange)="selectionChanged($event)"
                        [linear]="true" #stepper>
    <mat-step [completed]="stepsState?.step1Completed">
        <router-outlet class="router-outlet"
                       *ngIf="stepsState?.currentStep === 1"></router-outlet>
    </mat-step>
    <mat-step [completed]="stepsState?.step2Completed">
        <router-outlet class="router-outlet"
                       *ngIf="stepsState?.currentStep === 2"></router-outlet>
    </mat-step>
    <mat-step [completed]="stepsState?.step3Completed">
        <router-outlet class="router-outlet"
                       *ngIf="stepsState?.currentStep === 3"></router-outlet>
    </mat-step>
    <mat-step [completed]="stepsState?.step4Completed">
        <router-outlet class="router-outlet"
                       *ngIf="stepsState?.currentStep === 4"></router-outlet>
    </mat-step>
</mat-horizontal-stepper>

<!--<router-outlet></router-outlet>-->

<button mat-mini-fab color="primary" class="float" (click)="next()"
        [disabled]="!stepsState?.currentStepValid">
    <mat-icon fontIcon="arrow_forward"></mat-icon>
</button>
