<mat-horizontal-stepper (selectionChange)="selectionChanged($event)"
                        [linear]="true" #stepper>
    <mat-step [completed]="stepsState?.step1Completed"></mat-step>
    <mat-step [completed]="stepsState?.step2Completed"></mat-step>
    <mat-step [completed]="stepsState?.step3Completed"></mat-step>
    <mat-step [completed]="stepsState?.step4Completed"></mat-step>

    <!--  <mat-step *ngFor="let step of steps; let i = index" [label]="step.title">-->
    <!--    <div *ngIf="loadingStep">-->
    <!--      <mat-spinner></mat-spinner>-->
    <!--    </div>-->
    <!--    <div *ngIf="!loadingStep">-->
    <!--      <router-outlet *ngIf="i === selectedStepIndex"></router-outlet>-->
    <!--    </div>-->
    <!--  </mat-step>-->
</mat-horizontal-stepper>


<app-friends></app-friends>

<button mat-mini-fab color="primary" class="float" (click)="next(stepper)"
        [disabled]="!stepsState?.currentStepValid">
    <mat-icon fontIcon="arrow_forward"></mat-icon>
</button>
