.selectors-container {
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    white-space: nowrap;
    margin: 0 5px;
}

.initials-wrapper {
    min-width: 50px;
    display: inline-block;
    margin: 0 2px;
    white-space: normal;
}
